<section class="section works-in-progress-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-spinner fa-stack-1x fa-inverse"></i>
    </span>
    Works in Progress
  </h2>
  {% for work in site.data.data.works_in_progress %}
  <div class="item">
    <h3 class="job-title">
      {{ work.title }}
      {% if work.coauthors %} <!-- Check if there are co-authors -->
        <small>(with
          {% for coauthor in work.coauthors %}
            {% if coauthor.url %}
              <a href="{{ coauthor.url }}" target="_blank">{{ coauthor.name }}</a>
            {% else %}
              {{ coauthor.name }}
            {% endif %}
            {% unless forloop.last %}, {% endunless %}
          {% endfor %}
        )</small>
      {% endif %}
    </h3>
    <div class="details">
      <a href="#" onclick="toggleAbstract('wipAbstract{{ forloop.index }}'); return false;">[Abstract]</a>
      <p id="wipAbstract{{ forloop.index }}" style="display:none;">
        {{ work.summary }}
      </p>
      {% if work.pdf %}
      <a href="{{ work.pdf }}" target="_blank">[Paper]</a>
      {% endif %}
      {% if work.Presentation %}
      <br>
      <p><strong>Presentation:</strong> {{ work.Presentation }}</p>
      {% endif %}
    </div><!--//details-->
  </div><!--//item-->
  {% endfor %}
</section><!--//section-->
